<p>home-form works!</p>

<mat-stepper linear>
  <mat-step>
    <ng-template matStepLabel>Selecciona ubicación de extracción</ng-template>
    <app-mapa></app-mapa>
  </mat-step>
  <mat-step errorMessage="Debe rellenar todos los campos obligatorios">
    <ng-template matStepLabel>Datos Solicitante</ng-template>
    <!-- Formulario Solicitante -->
    <app-solicitante></app-solicitante>
    <!-- Formulario Solicitante -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Caracteristicas del derecho</ng-template>
    <!-- Formulario Solicitante -->
    <p>Caracteristica derecho...</p>
    <!-- Formulario Solicitante -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Adjuntos</ng-template>
    <!-- Formulario Solicitante -->
    <p>Adjuntos</p>
    <!-- Formulario Solicitante -->
  </mat-step>
</mat-stepper>
